.catalog h1 {
  letter-spacing: 1px;
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  letter-spacing: 1px;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: left;
  padding-top: 15px;
  color: black;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.info {
  text-align: justify;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
  padding-bottom: 20px;
}

.info p {
  transition: all 0.3s ease-in-out;
}

.info p:hover {
  transform: translateY(-5px);
  color: #2c3e50;
}

.info img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.zoomable {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.zoomed {
  transform: scale(2);
}

/*кружки*/
.numbers {
  margin: 0 85px 0 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers h1 {
  text-align: center;
  letter-spacing: 1px;
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

ol {
  list-style-type: none;
  counter-reset: num;
  position: relative;
  margin: 0 0 0 60px;
  padding: 15px 0 5px 0;
  font-size: 15px;
}

ol li {
  height: 10%;
  width: 100%;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 3% 15px;
  text-align: justify;
}

ol li:after {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -45px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 22px;
  border-radius: 50%;
  border: 2px solid rgb(255, 97, 103);
}

/* Вертикальная линия */
ol:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: -25px;
  width: 1px;
  border-left: 2px solid rgb(255, 97, 103);
}

/* Скрытие линии у последнего li */
ol li:last-child:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -38px;
  width: 30px;
  background: #fff;
}

@media (max-width: 768px) {
  .container {
    width: 80vw;
  }

  .catalog h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .info p {
    font-size: 1rem;
  }

  .numbers {
    margin: 0 70px 0 35px;
  }

  .numbers h1 {
    font-size: 2.5rem;
  }

  ol li {
    font-size: 1rem;
  }
}